:root {
    --backround_color: #1E1F22;
  }

.custom-card{
    background-color: var(--backround_color);
    color: white;
    min-height: 100%;
}

@media (max-width: 576px) {
    .custom-card {
      width: 100%;
    }
  }

  @media (min-width: 577px) and (max-width: 991px) {
    .custom-card {
      width: 600px;
    }
  }

  @media (min-width: 992px) {
    .custom-card {
      width: 800px;
    }
  }
