:root{
    --menu_background: #0d6efd;
}

.navbar-toggler-icon{
    background-image: url('/images/user_profile.png');
}

.auth{
    background-color: #272729;
    color: rgb(232, 224, 224);
    border-color: #3d3d40;
}

.logo{
    width: 120px;
    height: 40px;
}

.nav-link{
    color: var(--menu_background);
    font-size: 16px;
}

.dropend .dropdown-toggle{
    color: white;
    margin-left: 1em;
}

.dropdown .dropdown-menu{
    display: none;
}

.dropdown:hover > .dropdown-menu, .dropend:hover > .dropdown-menu{
    display: block;
    margin-top: .125em;
    margin-left: .125em;
}

.modal-header,
.modal-body,
.modal-footer {
    margin: 0;
}

.modal-header {
    background-color: #2B2D31;
}

.modal-title{
    color:white;
}

.modal-body {
    background-color: #313338;
}

.modal-footer {
    background-color: #313338;
}

@media screen and (min-width:769px) {
    .dropend:hover > .dropdown-menu{
      position: absolute;
      top: 0;
      left: 100%;
    }
    .dropend .dropdown-toggle{
      margin-left: .5em;
    }
}
