:root {
    --menu_color: #0e61db;
  }

.custom-container{
    background-color: #252930;
    color: white;
    max-width: 200px;
    height: 70px;
}

label {
    color: rgb(255, 255, 255);
    padding: 4px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:  15px;
  }

  @import url('https://fonts.googleapis.com/css?family=Kalam');
.text{
    font-family: "Kalam", cursive;
    text-align: center;
    font-size: 60px;
    color: var(--menu_color);
    text-shadow: #39395a -4px 3px 2px;
}

.float-right{
    float: right;
}

.float-left{
    float:left;
}


@media (max-width: 1000px) {
    .float-right{
        float:none;
    }
    .float-left{
        float:none;
    }
}

.mt-6{
    margin-top: 5rem;
}

.mb-6{
    margin-bottom: 5rem;
}

.mb-7{
    margin-bottom: 6rem;
}
